.container {
  max-width: 1920px;
  margin: 40px 20px;
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.nav {
  flex: 0 1 15%;
  &-list {
    width: 100%;
    li {
      width: 100%;
      height: 80px;
    }
    &__link {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      outline: none;
      border: 1px solid lightgray;
      border-left: none;
      text-decoration: none;
      font-family: sans-serif;
      font-size: 18px;
      color: gray;
      cursor: pointer;
    }
  }
  &-exit {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn {
      width: 90px;
      height: 55px;
      background-color: #b5d8f7;
      outline: none;
      border: none;
      border-radius: 10px;
      font-size: 17px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}
.route-active {
  color: black;
  font-weight: 700;
  border-right: 1px solid transparent;
  border-top: 4px solid #b5d8f7;
}

.info {
  width: 70%;
}
