<footer>
  <div class="container">
    <div class="top">
      <a [routerLink]="[ '' ]" routerLinkActive="route-active" class="top-logo">
        <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-6a750.appspot.com/o/static%2Flogo.svg?alt=media&token=8fe3025d-2bf8-46f8-8418-6b65af9ed95a" alt="">
      </a>
      <ul class="top-menu">
        <li class="top-menu__item">
          <a [routerLink]="[ '/discount' ]" routerLinkActive="route-active">Акції</a>
        </li>
        <li class="top-menu__item">
          <a [routerLink]="[ '/about' ]" routerLinkActive="route-active">Про нас</a>
        </li>
        <li class="top-menu__item">
          <a>Оферта</a>
        </li>
      </ul>
      <div class="top-info">
        <h3><strong>Точки самовивозу</strong></h3>
        <p>вул. Володимира Великого, 10в</p>
        <p>вул. Чорновола, 95</p>
      </div>
      <div class="top-order">
        <h3><strong>Оформити замовлення</strong></h3>
        <a href="tel:0978780837"><b>(097) 878 08 37</b></a>
      </div>
    </div>
    <div class="bottom">
      <div class="bottom-copyright">
        <p>© 2023 Monosushi</p>
      </div>
      <ul class="bottom-paycard">
        <li class="bottom-paycard__item">
          <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-6a750.appspot.com/o/static%2Fmastercard.svg?alt=media&token=b4bbe9e8-1bc3-4c7c-a7ce-8d3ce0d49383" alt="">
        </li>
        <li class="bottom-paycard__item">
          <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-6a750.appspot.com/o/static%2Fvisa.svg?alt=media&token=c6083e4d-7ba4-4cd5-9b96-92209140a4fa" alt="">
        </li>
        <li class="bottom-paycard__item">
          <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-6a750.appspot.com/o/static%2Fliqpay.svg?alt=media&token=01300d5b-6332-437f-bf1b-9914e0597ae1" alt="">
        </li>
      </ul>
      <div class="bottom-social">
        <span>Слідкуйте за нами</span>
        <ul>
          <li>
            <a>
              <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-6a750.appspot.com/o/static%2Ffacebook.svg?alt=media&token=e703111f-f22d-43e0-9a4d-0fc6bf4c75b5" alt="">
            </a>
          </li>
          <li>
            <a>
              <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-6a750.appspot.com/o/static%2Finstagram.svg?alt=media&token=8a726689-67c1-414a-b1f3-b7588a068f15" alt="">
            </a>
          </li>
        </ul>
      </div>
      <div class="bottom-development">
        <p>Створення сайтів <span>DENDISOFT</span></p>
      </div>
    </div>
  </div>
</footer>