.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  font-family:'Trebuchet MS', Arial, sans-serif;
  color: #252525;
  font-weight: 700;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  &__text {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    text-align: center;
    color: #252525;
    font-size: 42px;
    font-weight: 700;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 5px;
      border-radius: 10px;
      background: #b5d8f7;
    }
  }
}

.discounts {
  max-width: 1620px;
  margin: 30px auto;
}

.list {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  &-item {
    flex: 0 1 40%;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    &__image {
      height: 400px;
      border-radius: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        cursor: pointer;
      }
    }
    &__title {
      width: 100%;
      position: relative;
      text-align: center;
      font-size: 20px;
      cursor: pointer;
      &:hover {
        color: #b5d8f7;
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -20px;
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background: #b5d8f7;
      }
    }
    &__link {
      width: 250px;
      height: 45px;
      margin-top: 15px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: #b5d8f7;
      border: 3px solid #b5d8f7;
      border-radius: 10px;
      &:hover{
        background-color: transparent;
      }
    }
  }
}