.container {
  max-width: 1920px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family:'Trebuchet MS', Arial, sans-serif;
  a {
    text-decoration: none;
    outline: none;
    color: black;
  }
}
.logo {
  height: 100px;
  width: 250px;
  padding: 10px;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  background-color: #b5d8f7;
  img {
    height: 80px;
    width: 100%;
    // width: 230px;
  }
}
.menu {
  height: 100%;
  display: flex;
  &-list {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    font-size: 18px;
    font-weight: 700;
    &__item {
      height: 70px;
      width: 75px;
      display: flex;
      align-items: center;
      padding: 0 10px;
      border: 2px solid transparent;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        animation: border 1s ease-in-out forwards;
      }
      a {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        div {
          position: absolute;
          top: 10%;
          left: 50%;
          transform: translate(-50%, 0);
          img {
            display: block;
            margin: 0 auto;
            width: 28px;
            height: 30px;
          }
          span {
            display: block;
            margin-top: 4px;
            font-size: 16px;
            font-weight: bold;
            color: #252525;
          }
        }
      }
    }
  }
}
.burger {
  position: relative;
  &__btn {
    position: relative;
    z-index: 4;
    outline: none;
    background-color: transparent;
    border: 2px solid transparent ;
    border-radius: 10px;
    &:hover {
      animation: border 1s ease-in-out forwards;
    }
    img {
      width: 40px;
      height: 40px;
    }
  }
  &__list {
    position: absolute;
    z-index: 3;
    top: -10px;
    left: -30px;
    width: 250px;
    height: 280px;
    padding: 30px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border: 2px solid #b5d8f7;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    li {
      width: 100%;
      height: 100%;
      border: 2px solid transparent ;
      border-radius: 10px;
      &:hover {
        animation: border 1s ease-in-out forwards;
      }
      a {
        display: inline-block;
        padding-left: 10px;
        line-height: 3;
        width: 100%;
        height: 100%;
      }
    }
  }
}
.callback {
  height: 40px;
  display: flex;
  align-items: center;
  column-gap: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: #b5d8f7;
  &:hover {
    background-color: transparent;
    border: 2px solid #b5d8f7;
  }
  img {
    width: 30px;
    height: 30px;
  }
  span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
  }

}
.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  a {
    font-weight: 700;
    &:hover{
      color: aquamarine;
    }
  }
  span {
    font-weight: 700;
  }
}
.admin {
  width: 60px;
  height: 60px;
  border: 2px solid transparent ;
  border-radius: 10px;
  &:hover {
    animation: border 1s ease-in-out forwards;
  }
  a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.checkout {
  height: 100%;
  width: 150px;
  background-color: #b5d8f7;
  display: flex;
  align-items: center;
  justify-content: center;
  a {
    position: relative;
    color: black;
    outline: none;
    text-decoration: none;
    img {
      width: 100%;
      height: 100%;
      margin-right: 10px;
    }
    span {
      position: absolute;
      top: 0;
      right: -7px;
      color: #252525;
      line-height: 1em;
      font-size: 14px;
      padding-top: 6px;
      background-color: #fff;
      transition: .35s;
      min-width: 26px;
      max-width: 36px;
      height: 26px;
      border-radius: 100%;
      text-align: center;
    }
  }
  p {
    margin-left: 10px;
    font-size: 20px;
  }
}

@keyframes border {
  0% {
    border-top: 2px solid #b5d8f7;
  }
  33% {
    border-right: 2px solid #b5d8f7;
  }
  66% {
    border-bottom: 2px solid #b5d8f7;
  }
  90% {
    border-left-radius: 2px solid #b5d8f7;
  }
  100% {
    border: 2px solid #b5d8f7;
  }
}