<div class="container">
  <div class="close">
    <img
      mat-button mat-dialog-close
      src="https://firebasestorage.googleapis.com/v0/b/monosushi-6a750.appspot.com/o/static%2Fmultiply.svg?alt=media&token=4c96b964-5c4d-41d5-b1dd-e4770d2eb727"
      alt="">
  </div>
  <h2 class="title">ми зателефонуємо</h2>
  <p class="title-desc">Залиште номер телефону і наші менеджери зв'яжуться з Вами</p>
    <form>
      <div class="box">
        <mat-form-field appearance="outline" class="box-input">
          <mat-label>Ваше ім'я</mat-label>
          <input matInput type="text" >
        </mat-form-field>
      </div>
      <div class="box">
        <mat-form-field appearance="outline" class="box-input">
          <mat-label>Ваш номер телефону</mat-label>
          <input matInput type="tel" >
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary" id="btn" type="button" mat-dialog-close>Надіслати</button>
    </form>
</div>