.title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 700;
}

.password {
  width: 60%;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &-input {
    width: 100%;
  }
}

.address {
  width: 60%;
  &-btn {
    display: flex;
    justify-content: space-between;
  }
}

#save, #cancel {
  width: 210px;
  height: 50px;
  background-color: #b5d8f7;
  outline: none;
  border: 2px solid #b5d8f7;
  border-radius: 10px;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
}

#cancel {
  background-color: transparent;
}

#cancel:hover {
  background-color: #b5d8f7;
}