<form>
  <div class="password">
    <h3 class="password-title title">Зміна паролю</h3>
    <mat-form-field appearance="outline" class="password-input">
      <mat-label>Ваш поточний пароль</mat-label>
      <input matInput type="text" >
    </mat-form-field>
    <mat-form-field appearance="outline" class="password-input">
      <mat-label>Новий пароль</mat-label>
      <input matInput type="text" >
    </mat-form-field>
    <mat-form-field appearance="outline" class="password-input">
      <mat-label>Повторіть пароль</mat-label>
      <input matInput type="text" >
    </mat-form-field>
  </div>
  <div class="address">
    <div class="address-btn">
      <button id="cancel">Скасувати</button>
      <button id="save">Зберегти зміни</button>
    </div>
  </div>
</form>
