.container {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: black;
  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
  form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  a {
    font-weight: 700;
    cursor: pointer;
  }
}
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  img {
    width: 100%;
    height: 100%;
  }
}

.box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &-input {
    width: 100%;
    &-half {
      width: 48%;
    }
  }
  &-link {
    width: 100%;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &-logup {
      margin-left: 10px;
    }
  }
}

#btn {
  height: 50px;
  width: 100%;
  margin-bottom: 25px;
  background-color: #b5d8f7;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  color: black;
}
