.container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  font-family:'Trebuchet MS', Arial, sans-serif;
  color: #5A5A5A;
  h3 {
    margin-top: 20px;
    font-size: 34px;
    font-weight: bold;
    color: #252525;
  }
  h4 {
    line-height: 1.7;
    font-size: 20px;
    font-weight: bold;
    color: #252525;
  }
  p {
    position: relative;
    font-size: 18px;
    line-height: 1.5;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}


.title {
  width: 100%;
  display: flex;
  justify-content: center;
  &__text {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    text-align: center;
    color: #252525;
    font-size: 42px;
    font-weight: 700;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 5px;
      border-radius: 10px;
      background: #b5d8f7;
    }
  }
}
.info {
  text-align: left;
  margin-bottom: 20px;
  h3 {
    margin-bottom: 20px;
  }
  p {
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    li {
      position: relative;
      font-size: 18px;
      line-height: 1.5;
      padding-left: 24px;
      &::after {
        content: "";
        position: absolute;
        left: 1px;
        top: 10px;
        width: 9px;
        height: 9px;
        background: transparent;
        border-radius: 100%;
        border: 2px solid #fff;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 9px;
        width: 11px;
        height: 11px;
        background: #b5d8f7;
        border-radius: 100%;
      }
    }
  }
}
.row {
  display: flex;

  &__image {
    flex: 0 1 50%;
    padding: 50px;
    img {
      border-radius: 10px;
    }
  }
  &__info {
    flex: 0 1 50%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h3 {
      margin-bottom: 30px;
    }
  }
}
.advantage {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
  .advantage-box {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 10px 25px;
    border-right: 1px solid #dcdcdc;
    &:nth-child(4) {
      border: none;
    }
    div {
      width: 85px;
      height: 85px;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 10px;
      background: #b5d8f7;
      img {
        width: 90%;
        height: 90%;
      }
    }
    p {
      text-align: center;
      font-size: 16px;
      line-height: 1.6;
    }
  }
}
