.container {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  font-family:'Trebuchet MS', Arial, sans-serif;
  color: #5A5A5A;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.title {
  margin: 0 auto;
  width: 100px;
  margin-bottom: 50px;
  &__line {
    width: 100%;
    height: 6px;
    margin-bottom: 5px;
    background-color: #b5d8f7;
    border-radius: 10px;
  }
  &__text {
    width: 100%;
    text-align: center;
    color: #252525;
    font-size: 42px;
    font-weight: 700;
  }
}

.menu {
  display: block;
  margin: 20px 20px;
  position: relative;
  text-align: center;
}
.list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  min-width: 176px;
  background-color: white;
  &__item {
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    min-width: 168px;
    font-weight: bold;
    margin-left: -1px;
    border: 1px solid #dcdcdc;
    position: relative;
    a {
      padding: 17px 0;
      display: block;
      font-size: 16px;
      position: relative;
    }
  }
}
.product {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  &-item {
    flex: 0 0 24%;
    max-width: 24%;
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 5px;
    &:hover {
      animation: border 1s ease-in-out forwards;
    }
    &__image {
      position: relative;
      height: 240px;
      a {
        position: relative;
        display: block;
        height: 100%;
        text-decoration: none;
        color: inherit;
        img {
          display: inline-block;
          max-width: 100%;
          max-height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
        }
      }
    }
    &__title {
      margin: 10px 0;
      a {
        overflow: hidden;
        max-height: 30px;
        font-size: 22px;
        color: black;
        font-weight: 700;
        &:hover {
          color: rgb(8, 219, 219);
        }
      }
    }
    &__desc {
      display: flex;
      justify-content: space-between;
      p {
        text-align: left;
        font-size: 16px;
        line-height: 1.5;
      }
      div {
        min-width: 65px;
        padding-left: 10px;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
      }
    }
    &__controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
      p {
        width: 80px;
        color: #252525;
        font-size: 20px;
      }
      &-count {
        height: 45px;
        display: flex;
        align-items: center;
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        color: #252525;
        font-size: 16px;
        button {
          width: 32px;
          height: 36px;
          background-color: #fff;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          font-size: 24px;
          color: #5a5a5a;
          &:hover {
            background-color: #b5d8f7;
            color: black;
          }
        }
        input {
          width: 30px;
          border: none;
          font-weight: 600;
          text-align: center;
        }
      }
      &-order {
        height: 45px;
        background: #b5d8f7;
        border: 2px solid #b5d8f7;
        border-radius: 10px;
        color: #252525;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}


@keyframes border {
  0% {
    border-top: 2px solid #b5d8f7;
  }
  33% {
    border-right: 2px solid #b5d8f7;
  }
  66% {
    border-bottom: 2px solid #b5d8f7;
  }
  90% {
    border-left-radius: 2px solid #b5d8f7;
  }
  100% {
    border: 2px solid #b5d8f7;
  }
}



.active {
  border: 1px solid transparent;
  position: relative;
  color: #252525;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 4px;
    background: #b5d8f7;
  }
}