<div class="container">
  <div class="poster">
    <div class="poster-info">
      <div class="poster-info__title">
        <h2> Ми - це доставка <span>щастя.</span></h2>
        <h2> <span>Monosushi</span> - Ми любимо коли тобі смачно.</h2>
      </div>
      <div class="poster-info__text">
        <p> Найсмачніші сушики вже чекають на тебе. Не барись, а обирай свої улюблені позиції і вже скоро вони будуть у тебе!</p>
        <div class="poster-info__btn">
          <a  [routerLink]="[ '/discount' ]">Детальніше</a>
        </div>
      </div>
    </div>
  </div>
  <div class="info">
    <div class="info-box">
      <div class="info-box__image">
        <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-6a750.appspot.com/o/static%2Fdelivery.svg?alt=media&token=4ded8f1a-4871-466a-9020-6f550d80ea43" alt="">
      </div>
      <div class="info-box__delivery">Зони доставки</div>
    </div>
    <div class="info-box">
      <div class="info-box__image">
        <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-6a750.appspot.com/o/static%2Fsupermen.svg?alt=media&token=76f86622-37d2-45c0-8e70-43d40f775b11" alt="">
      </div>
      <div class="info-box__time">Середній час доставки в зеленій зоні
        <span>00:43:00</span>
      </div>
    </div>
    <div class="info-box">
      <div class="info-box__image">
        <img src="https://firebasestorage.googleapis.com/v0/b/monosushi-6a750.appspot.com/o/static%2Fbonus.svg?alt=media&token=d0fce9c0-2948-44ab-9177-432739e44422" alt="">
      </div>
      <div class="info-box__time">
        <p>Наш графік роботи</p>
        <p>Працюємо з <span>11:00</span> до <span>23:59</span></p>
      </div>
    </div>
  </div>
</div>