.container {
  max-width: 1920px;
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family:'Trebuchet MS', Arial, sans-serif;
}

.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  row-gap: 30px;
  &-title {
    width: 100%;
    display: flex;
    justify-content: center;
    &__text {
      position: relative;
      display: inline-block;
      padding-top: 10px;
      text-align: center;
      color: #252525;
      font-size: 42px;
      font-weight: 700;
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 5px;
        border-radius: 10px;
        background: #b5d8f7;
      }
    }
  }
  &-row {
    width: 90%;
    height: 250px;
    display: flex;
    &__image {
      flex: 0 1 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 100%;
        height: 100%;
      }
    }
    &__info {
      flex: 0 1 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 10px;
      font-size: 20px;
      letter-spacing: 1px;
      h3 {
        font-size: 30px;
        font-weight: 700;
        color: #27ae60;
      }
      p {
        text-align: center;
        color: #5A5A5A;
        font-size: 17px;
        line-height: 1.6;
      }
      span {
        color: #27ae60;
        font-weight: 700;
      }
      &:nth-child(4) {
        h3 {
          color: #f2c94c;
        }
        span {
          color: #f2c94c;
          font-weight: 700;
        }
      }
    }
  }
  &-map {
    width: 90%;
    height: 700px;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &-info {
    width: 70%;
    line-height: 1.3;
    font-size: 20px;
    color: #5A5A5A;
  }
}

.payment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  margin-top: 50px;
  &-title {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  &-row {
    width: 70%;
    height: 110px;
    margin-bottom: 90px;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    &__info {
      flex: 0 1 50%;
      display: flex;
      padding-left: 30px;
      &:nth-child(1) {
        border-right: 2px solid #c9c9c9;
      }
      &-item {
        flex: 0 1 15%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #b5d8f7;
        border-radius: 10px;
      }
      &-text {
        flex: 0 1 85%;
        padding: 10px 15px;
        h3 {
          font-size: 24px;
          margin-bottom: 10px;
        }
        p {
          line-height: 1.5;
          color:#5A5A5A;
        }
      }
    }
  }
  &-text {
    width: 70%;
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 20px;
    color: #5A5A5A;
  }
}

