<div class="container">
  <button id="open" (click)="openList()">Додати Акцію</button>
  <ng-container *ngIf="list">
    <div class="list">
      <table class="table">
        <thead class="table-header">
          <tr>
            <th>Дата</th>
            <th>Назва</th>
            <th>Заголовок</th>
            <th>Опис</th>
            <th>Картинка</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody class="table-content">
          <tr *ngFor="let discount of adminDiscounts">
            <td>{{ discount.date | date: 'dd.MM' }}</td>
            <td>{{ discount.name }}</td>
            <td>{{ discount.title }}</td>
            <td>{{ discount.description }}</td>
            <td>
              <div>
                <img [src]="discount.imagePath" alt="">
              </div>
            </td>
            <td>
              <button
                type="button"
                id="edit"
                (click)="editDiscount(discount)"
              >Редагувати</button>
              <button
                type="button"
                id="delete"
                (click)="deleteDiscount(discount)"
              >Видалити</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
  <ng-container *ngIf="!list">
    <form [formGroup]="discountForm" (ngSubmit)="addDiscount()">
      <div class="forms">
        <div class="forms__input">
          <input formControlName="name" name="name" type="text" placeholder="*Назва">
          <input formControlName="title" name="title" type="text" placeholder="*Заголовок">
        </div>
        <textarea formControlName="description" name="description" class="forms__field" placeholder="*Опис"></textarea>
        <ng-container *ngIf="!isUploaded">
          <div class="forms__file">
            <input class="form-control" type="file" (change)="upload($event)">
          </div>
          <div class="forms__file-progress">
            <div [style.width.%]="uploadPercent"></div>
          </div>
        </ng-container>
        <ng-container *ngIf="isUploaded">
          <div class="forms-download">
            <div class="forms-download__image">
              <img [src]="valueByControl('imagePath')" alt="">
            </div>
            <button
              type="button"
              class="forms-download__btn"
              (click)="deleteImage()"
            >Delete</button>
          </div>
        </ng-container>
        <button type="submit" id="add" [disabled]="discountForm.invalid">Зберегти зміни</button>
      </div>
    </form>
  </ng-container>
</div>