#open, #add {
  width: 250px;
  height: 60px;
  margin-bottom: 30px;
  background-color: transparent;
  outline: none;
  border: 2px solid #b5d8f7;
  border-radius: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

#add {
  margin-top: 30px;
}

#open:hover, #add {
  background-color: #b5d8f7;
}

.table {
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 19px;
  text-align: left;
  color: gray;
  &-header {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #b5d8f7;
  }
  &-content {
    width: 100%;
    tr {
      border-bottom: 2px solid lightgrey;
    }
    td {
      word-wrap: break-word;
      padding-right: 5px;
      height: 100px;
      line-height: 1.5;
      vertical-align: middle;
      div {
        width: 90px;
        height: 60px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  td:nth-child(1) {
    width: 10%;
  }
  td:nth-child(2) {
    width: 10%;
  }
  td:nth-child(3) {
    width: 25%;
  }
  td:nth-child(4) {
    width: 35%;
  }
  td:nth-child(5) {
    width: 10%;
  }
  td:nth-child(6) {
    width: 10%;
  }
}

#edit, #delete {
  position: relative;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 700;
  color: #b5d8f7;
  &:hover::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0px;
    height: 1px;
    background-color: #b5d8f7;
    animation: border 1s;
  }
}

@keyframes border {
  50% {
    width: 30px;
  }
  100% {
    left: 100px;
    width: 0px;
  }
}

.forms {
  width: 700px;
  font-family:Arial, Helvetica, sans-serif;
  &__input {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    input {
      width: 48%;
      height: 50px;
      padding-left: 20px;
      outline: none;
      border: 2px solid rgb(234, 233, 233);
      border-radius: 10px;
    }
  }
  &__field {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    outline: none;
    border: 2px solid rgb(234, 233, 233);
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif;
    resize: none;
  }
  &__file {
    width: 100%;
    height: 50px;
    padding-left: 20px;
    border: 2px solid rgb(234, 233, 233);
    border-radius: 10px;
    display: flex;
    align-items: center;
    &-progress {
      width: 100%;
      height: 20px;
      margin-top: 20px;
      border: 2px solid #359cf6;
      border-radius: 6px;
      div {
        width: 0%;
        height: 100%;
        background-color: #359cf6;
        border-radius: 6px;
      }
    }
  }
  &-download {
    height: 650px;
    width: 100%;
    &__image {
      width: 100%;
      height: 580px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    &__btn {
      margin-top: 20px;
      width: 150px;
      height: 50px;
      background-color: transparent;
      border: 2px solid rgb(240, 71, 71);
      border-radius: 10px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 1px;
      &:hover {
        background-color: rgb(240, 71, 71);
        color: white;
      }
    }
  }
}
