<form>
  <div class="profile">
    <h3 class="profile-title title">
      <span>1</span>
      Особисті дані</h3>
    <mat-form-field appearance="outline" class="profile-input-half">
      <mat-label>Ваше ім'я</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <mat-form-field appearance="outline" class="profile-input-half">
      <mat-label>Ваше прізвище</mat-label>
      <input matInput type="text" >
    </mat-form-field>
    <mat-form-field appearance="outline" class="profile-input">
      <mat-label>Ваш номер телефону</mat-label>
      <input matInput type="text" >
    </mat-form-field>
    <mat-form-field appearance="outline" class="profile-input">
      <mat-label>Ваш email</mat-label>
      <input matInput type="text" >
    </mat-form-field>
  </div>
  <div class="address">
    <h3 class="address-title title">
      <span>2</span>
      Особисті дані</h3>
    <div class="address-btn">
      <button id="add">Додати адресу</button>
      <button id="save">Зберегти зміну</button>
    </div>
  </div>
</form>
